
.home {
    border: 8px solid #018ea7;
    padding: 20px;
    color: rgba(26,26,26,.7);
}

.ui.dividing.header {
    color: #219da6;
}

#feature-request-button {
    background-color: #018ea7;
    color: #ffffff;
}

#feature-request-form, #form-filled, #error-form {
    display: none;
}